# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
src/rwwebsite/.idea/.name
src/rwwebsite/.idea/compiler.xml
src/rwwebsite/.idea/copyright/profiles_settings.xml
src/rwwebsite/.idea/encodings.xml
src/rwwebsite/.idea/libraries/GOPATH__rwwebsite_.xml
src/rwwebsite/.idea/misc.xml
src/rwwebsite/.idea/modules.xml
src/rwwebsite/.idea/rwwebsite.iml
src/rwwebsite/.idea/uiDesigner.xml
src/rwwebsite/.idea/workspace.xml
